body
    +rob-r
    +smooth-font
    font-size: 16px
    line-height: 1.5
    color: $black
    background: #fff
    &.is-fixed
        overflow: hidden
        height: 100vh

.logo
    display: block
    width: 100%
    img
        max-width: 100%
        display: block
.title
    font-size: 36px
    line-height: 1.33
    +rob-m
    font-weight: normal
    padding-bottom: 8px
    position: relative
    display: inline-block
    margin-bottom: 36px
    +md
        font-size: 28px
        margin-bottom: 28px
    +xs
        font-size: 24px
        margin-bottom: 24px
    &:before
        content: ""
        display: block
        width: 400px
        max-width: 50%
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        background: $orange
        height: 4px

.section
    padding: 80px 0
    text-align: center
    overflow: hidden
    +md
        padding: 52px 0
.orange
    color: $orange

.scroll-up
    border: 2px solid $orange
    border-radius: 50%
    width: 64px
    height: 64px
    position: sticky
    bottom: 20px
    left: calc(100% - 20px - 64px)
    display: block
    transition: all .25s ease-in-out
    opacity: 0
    visibility: hidden
    &.is-visible
        opacity: 1
        visibility: visible
    +md
        width: 36px
        height: 36px
        left: calc(100% - 10px - 32px)
        bottom: 10px
    .icon
        fill: $orange
        font-size: 24px
        +vcenter
        margin-top: -2px
        +md
            font-size: 14px
            margin-top: -1px
    &:hover
        opacity: .75
