---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <div class="in">
    {% include "partials/_header.html" %}
    {% include "partials/_hero.html" %}
    {% include "partials/_widgets.html" %}
    {% include "partials/_mission.html" %}
    {% include "partials/_values.html" %}
    {% include "partials/_advantages.html" %}
    {% include "partials/_reasons.html" %}
    {% include "partials/_mentors.html" %}
    {% include "partials/_faq.html" %}
    {% include "partials/_form.html" %}
    {% include "partials/_contacts.html" %}
    {% include "partials/_scroll-up.html" %}
    </div>
    {% include "partials/_footer.html" %}

{% endblock %}
