<!-- begin advantages -->
<section class="section advantages">
    <div class="l">
        <div class="advantages__in">
            <h2 class="title">Преимущества</h2>
            <div class="advantages__boxes">
                <!-- begin box -->
                <div class="advantage box">
                    <img src="img/advantages/advantage-1.png" alt="" class="box__img">
                    <div class="box__text">
                        <p>Внутренняя электронная коммуникация для решения бизнес-задач, поиска партнеров, клиентов, инвесторов.</p>
                    </div>
                </div>
                <!-- end box -->

                <!-- begin box -->
                <div class="advantage box">
                    <img src="img/advantages/advantage-2.png" alt="" class="box__img">
                    <div class="box__text">
                        <p>Доступ к связям 1000 участников сообщества</p>
                    </div>
                </div>
                <!-- end box -->

                <!-- begin box -->
                <div class="advantage box">
                    <img src="img/advantages/advantage-3.png" alt="" class="box__img">
                    <div class="box__text">
                        <p>Решение бизнес вопросов с помощью опытных наставников и менторов</p>
                    </div>
                </div>
                <!-- end box -->

                <!-- begin box -->
                <div class="advantage box">
                    <img src="img/advantages/advantage-4.png" alt="" class="box__img">
                    <div class="box__text">
                        <p>Камерный формат общения, группы не более 12 человек.</p>
                    </div>
                </div>
                <!-- end box -->

                <!-- begin box -->
                <div class="advantage box">
                    <img src="img/advantages/advantage-5.png" alt="" class="box__img">
                    <div class="box__text">
                        <p>Возможность обмена опытом и связями с предпринимателями в 16 регионах Украины.</p>
                    </div>
                </div>
                <!-- end box -->
            </div>
        </div>
    </div>
</section>
<!-- end advantages -->
