<!-- begin contacts -->
<section class="contacts">
    <div class="l">
        <div class="contacts__in">
            <h2 class="title">ОСТАЛИСЬ ВОПРОСЫ? СВЯЖИТЕСЬ С НАМИ!</h2>

            <div class="contact__person">
                <h3 class="contact__name">ИРИНА БЕРЮЩЕВА</h3>
                <h4 class="contact__position">сооснователь и руководитель сообщества BOARD</h4>
                <div class="contact__pic">
                    <img src="img/irina.jpg" alt="">
                </div>
            </div>

            <div class="contact__phone">
                <a href="tel:+380957512095">+38(095)75-12-095</a>
            </div>

            <div class="socials">
                <a href="">{{ mixins.icon('viber') }}</a>
                <a href="">{{ mixins.icon('telegram') }}</a>
                <a href="">{{ mixins.icon('messenger') }}</a>
                <a href="">{{ mixins.icon('whatsapp') }}</a>
            </div>
        </div>
    </div>
</section>
<!-- end contacts -->
