<!-- begin faq -->
<section class="section faq">
    <div class="l">
        <div class="faq__in">
            <h2 class="title">FAQ</h2>
            <div class="faq__list">
                <!-- begin f-item -->
                <div class="f-item">
                    <h3 class="f-item__title"><span class="orange">1.</span> Как стать участником сообщества?</h3>
                    <div class="f-item__list">
                        <ul>
                            <li>Заполнить <a href="">форму</a></li>
                            <li>Встреча-знакомство с основателем сообщества</li>
                        </ul>
                    </div>
                </div>
                <!-- end f-item -->

                <!-- begin f-item -->
                <div class="f-item">
                    <h3 class="f-item__title"><span class="orange">2.</span> Какие критерии отбора?</h3>
                    <div class="f-item__list">
                        <ul>
                            <li>Быть предпринимателем и соответствовать ценностям сообщества</li>
                            <li>Стремиться к росту бизнеса</li>
                            <li>Быть готовым делиться опытом, связями, компетенциями</li>
                        </ul>
                    </div>
                </div>
                <!-- end f-item -->

                <!-- begin f-item -->
                <div class="f-item">
                    <h3 class="f-item__title"><span class="orange">3.</span> Есть ли возможность пробного посещения мероприятий</h3>
                    <div class="f-item__list">
                        <ul>
                            <li>Вы можете единоразово посетить открытый пробный формат Friendly Board, а также панельную дискуссию для знакомства с участниками сообщества</li>
                            <li>Основные мероприятия сообщества (Friendly Board) проводятся в закрытом доверительном формате, поэтому на них допускаются только действительные участники сообщества</li>
                        </ul>
                    </div>
                </div>
                <!-- end f-item -->
            </div>
        </div>
    </div>
</section>
<!-- end faq -->
