<!-- begin footer -->
<footer class="footer">
    <div class="l">
        <div class="footer__in">
            <div class="footer__logo">
                <a href="/" class="logo">
                    <img src="img/board-logo.png" alt="">
                </a>
            </div>
            <div class="footer__form">
                <form action="" class="js-callback-form">
                    <div class="input input_special">
                        <input type="text" name="callback" placeholder="Введите номер телефона">
                        <button type="submit" class="button">Перезвоните мне</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
