<!-- begin form -->
<section class="form">
    <div class="l">
        <div class="form__in">
            <h2 class="form__title"></h2>

            <div class="form-box">
                <div class="form-box__text">
                    <p>Заполните форму и с вами свяжется представитель сообщества</p>
                </div>
                <div class="form-box__in">
                    <form action="" class="js-contact-form">
                        <div class="input">
                            <label for="fullname">Имя и фамилия</label>
                            <input type="text" name="fullname">
                        </div>
                        <div class="input">
                            <label for="phone">Мобильный телефон</label>
                            <input type="text" name="phone">
                        </div>
                        <button type="submit" class="button">Отправить анкету</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end form -->
