<!-- begin header -->
<header class="header">
    <div class="l">
        <div class="header__in">
            <!-- begin header__logo -->
            <div class="header__logo">
                <a href="/" class="logo">
                    <img src="img/board-logo.png" alt="">
                </a>
            </div>
            <!-- end header__logo -->

            <!-- begin header__nav -->
            <div class="header__nav">
                <nav class="nav">
                    <a href="#">Статистика</a>
                    <a href="#">Ценности</a>
                    <a href="#">Почему Board</a>
                    <a href="#">Менторы</a>
                    <a href="#">FAQ</a>
                    <a href="tel:+380957512095">
                        {{ mixins.icon('phone') }}
                        +38(095)75-12-095
                    </a>
                </nav>
            </div>
            <!-- end header__nav -->
        </div>
    </div>
</header>
<!-- end header -->
