<!-- begin hero -->
<section class="hero">
    <div class="hero__bg bg">
        <img class="bg__img" src="img/video-placeholder.jpg" alt="">
        <video autoplay muted loop id="bg-video" data-src="img/video-bg.webm">
            <source type="video/webm">
        </video>
    </div>
    <div class="l">
        <div class="hero__in">
            <h1 class="hero__title">Сообщество Менторов и Наставников для предпринимателей</h1>
            <div class="hero__text">
                <p>Возможность совершить прорыв в бизнесе за счет доступа к опыту, компетенциям и связям успешных предпренимателей и экспертов.</p>
            </div>
            <a href="#statistics" class="button js-scroll-to">Я с вами</a>
        </div>
    </div>
</section>
<!-- end hero -->
