{% set mentors = [
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Андрей<br>Длигач',
        text: '<p>Бизнесмен, наставник</p>
        <ul>
            <li>Владелец и CEO группы компаний Advanter Group.</li>
            <li>Владелец Брендингового агентства Headshot, траблшутинговой компании Luniter.</li>
            <li>Доктор экономических наук, стратег, футуролог.</li>
        </ul>',
        modal: 'modal_1'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Петр<br>Синегуб',
        text: '<p>Серийный бизнесмен, наставник, инвестор.</p>
        <p>Основной бизнес: Группа Компаний Мир Весов-производство в Украине всех видов весов.</p>
        <p>Работает на рынках СНГ и Европы.</p>
        <p>За последние 2 года создал следующие бизнесы: Бизнес Академию 4Smart, Гагарин, Рекрутинговый Бутик “Aist”, Ютюб канал для предпринимателей «Бизнес18+», Anykey (внедрение систем управления бизнесом), Сообщество Менторов и Наставников.</p>
        <p>Является членом CEO клуб, Лига клуб, СУП, КДЛ, ТПП.</p>',
        modal: 'modal_2'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Ирина<br>Берющева',
        text: '<ul>
            <li>Управляющий партнёр бизнес-сообщества BOARD.</li>
            <li>Психолог, автор более 20 научных публикаций по социальной психологии.</li>
            <li>Lifestyle блогер, актриса любительского театра, активная участница беговых и плавательных марафонов.</li>
        </ul>',
        modal: 'modal_3'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Николай<br>Палиенко',
        text: '<ul>
            <li>Генеральный директор и сооснователь украинской продуктовой IT-компании EVO, которая объединяет крупные маркетплейсы и онлайн-сервисы в Украине, Беларуси и Казахстане (Prom.ua, Satu.kz Bigl.ua, Kabanchik.ua, Shafa.ua, Crafta.ua, Zakupki.Prom.ua, Vchasno.com.ua и другие).</li>
            <li>В 2008 году совместно с Денисом Горовым и Тарасом Марашко создал крупнейший маркетплейс Украины Prom.ua.</li>
            <li>В 2015 году Николай признан «Человеком года в индустрии ритейла и e-commerce» по версии E-Awards-2015.</li>
            <li>Опыт в предпринимательстве – 10 лет.</li>
        </ul>',
        modal: 'modal_4'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Фёдор<br>Дроздовский',
        text: '<ul>
            <li>Основатель Свит Донатс, производство выпечки.</li>
            <li>Основатель Golden Silver, ювелирное производство.</li>
            <li>Основатель Uma&Umi, бренд детских ювелирных украшений.</li>
            <li>Акционер ThinkGlobal, Альтернативная общеобразовательная школа.</li>
            <li>Управляющий партнёр Мегого, крупнейшая в мире онлайн-видео платформа для русскоязычной аудитории.</li>
            <li>КМС по греко-римской борьбе, отец 2 детей, филантроп.</li>
        </ul>',
        modal: 'modal_5'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Влад<br>Гуристримба',
        text: '<p>Опытный бизнесмен</p>
        <ul>
            <li>Совладелец корпорации «Биосфера», лидера рынка товаров для дома и гигиены в Украине (торговые марки «Фрекен БОК», Smile, Novita и др.)</li>
            <li>Совладелец сети ресторанов Vapiano в Украине, среди которых ресторан в Киеве в 2017 году был признан лучшим рестораном франшизы Vapiano worldwide.</li>
            <li>Соучредитель Biosphere Startup Platform – бизнес-акселератора на платформе Concepter для поиска технологичных стартапов.</li>
            <li>Отец 5 детей, триатлонист.</li>
        </ul>',
        modal: 'modal_6'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Алексей<br>Виноградов',
        text: '<ul>
            <li>Вице-президент Международного института менеджмента (МИМ-Киев).</li>
            <li>Экс-руководитель маркетинговых проектов в компаниях Priocom, P5 Communications Inc., IDC.</li>
            <li>Кандидат экономических наук.</li>
            <li>Имеет ценный опыт руководства крупными маркетинг-проектами в компаниях с иностранным капиталом.</li>
            <li>Автор более 40 публикаций по маркетингу.</li>
            <li>Отец прекрасной дочери.</li>
        </ul>',
        modal: 'modal_7'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Олег<br>Спиженко',
        text: '<ul>
            <li>Основатель, генеральный директор Центра Онкологии Клиника Спиженко.</li>
            <li>Основатель в Спілка Українських Підприємців – СУП.</li>
            <li>Советник министра в Кабинете Министров Украины.</li>
            <li>Отец двух дочерей, увлекается бегом, футболом, лыжами, сноубордом.</li>
        </ul>',
        modal: 'modal_8'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Алла<br>Заднепровская',
        text: '<ul>
            <li>Коуч первых лиц и команд, бизнес-тренер, консультант по управлению.</li>
            <li>Основательница Международной Консалтинговой Группы "Живое Дело".</li>
            <li>Основательница, автор и ведущая "Международной Интегральной Коучинг Школы", ментор коучей.</li>
            <li>Член ICF и ECF федераций коучинга.</li>
            <li>Член Международной Ассоциации консультантов по управлению (IMC).</li>
            <li>Мама двоих детей, любительница путешествий.</li>
        </ul>',
        modal: 'modal_9'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Давид<br>Браун',
        text: '<p>Templatemonster</p>
        <ul>
            <li>Основатель международной IT-компании Template Monster. Сайт компании templatemonster.com входит в 2000 самых посещаемых мировых сайтов по версии Alexa.</li>
            <li>Основатель Weblium.com – первого украинского конструктора сайтов.</li>
            <li>Основатель всеукраинского центра волонтеров Peoplesproject.</li>
            <li>Отец 4 детей, любитель лазерного пейнтбола, стрельбы в тире, рыбалки</li>
        </ul>',
        modal: 'modal_10'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Григорий<br>Маленко',
        text: '<p>Эксперт по управлению онлайн репутацией</p>
        <ul>
            <li>Управляющий партнер в агентстве SERM (Search Engine Reputation Management), комплексное управление онлайн-репутацией.</li>
            <li>Основатель сети ресторанов быстрого питания BurgerBoom.</li>
            <li>Глава партии "Самопомощь" в Дарницкой районе Киева.</li>
            <li>Экс-директор по маркетингу и развитию в интернет-издании «Обозреватель».</li>
            <li>Отец 2 детей, активный участник беговых и плавательных марафонов.</li>
        </ul>',
        modal: 'modal_11'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Светлана<br>Коломиец',
        text: '<ul>
            <li>Сооснователь мультифункциональных пространств #ПеремогаSpace.</li>
            <li>Соучредитель Киевского хаба Global Shapers (глобальной инициативы Всемирного экономического форума (WEF).</li>
            <li>Экс-заместитель министра экологии и природных ресурсов Украины.</li>
            <li>Сооснователь и активист инициативы ReThink.</li>
            <li>Социальный инвестор Urban Space 500.</li>
            <li>Окончила программу для государственных служащих в Школе государственного управления Джона Ф. Кеннеди, Гарвардский университет (JFK School of Government, Harvard University).</li>
            <li>Мама 7-летнего Алексея, увлечена латиноамериканскими танцами.</li>
        </ul>',
        modal: 'modal_12'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Максим<br>Рабинович',
        text: '<ul>
            <li>Заместитель генерального директора по развитию бизнеса ПАО "Укрпошта".</li>
            <li>Экс – директор по обслуживанию клиентов в "Нова Пошта".</li>
            <li>Экс – директором по развитию в компании “НИКО”. Во время его работы в "НИКО" в 2004-2008 гг. торговый дом удерживал почётное звание “Импортер №1”, а розничная дилерская сеть дома стала одним из лидеров национального рынка.</li>
            <li>Работал коммерческим директором "Киевэнерго".</li>
            <li>Занимался продажами и маркетингом в "ДТЭК Энерго".</li>
            <li>Главное хобби – дети, любитель командных видов спорта.</li>
        </ul>',
        modal: 'modal_13'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Ирина<br>Озимок',
        text: '<p>Основательница Международного саммита мэров.</p>
        <p>Телеведущая шоу «Громада на мільйон».</p>
        <p>Руководитель программы местного экономического развития Western NIS Enterprise Fund. В рамках фонда Ирина поддержала следующие проекты:</p>
        <ul>
            <li>1991 – инкубатор проектов на основе открытых данных</li>
            <li>Школа урбанистики CANactions</li>
        </ul>
        <p>Является членом Ассоциации “Професійний Уряд”</p>
        <p>Много путешествует, ведёт блог про города, увлекается плаванием и TRX.</p>',
        modal: 'modal_14'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Роман<br>Романчук',
        text: '<ul>
            <li>Основатель «Panna group».</li>
            <li>Экс-генеральный директор «Сушия». За восемь лет работы в этой компании Роману удалось увеличить сеть с 9 заведений до 50 в 12 городах Украины, что позволило компании «Сушия» стать самой крупной сетью ресторанов японской кухни в стране.</li>
            <li>Роман вошел в список успешных топ-менеджеров до 35 лет по рейтингу спецпроекта «Инвестгазеты», а также в рейтинг ТОП-100 топ-менеджеров Украины.</li>
            <li>Отец 2 сыновей, организатор социального проекта «Киллометры добра», участник беговых марафонов и автомобильных гонок.</li>
        </ul>',
        modal: 'modal_15'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Константин<br>Паскевич',
        text: '<ul>
            <li>Совладелец НПП «Биотестлаб», лидер в производстве вакцин и препаратов для с/х животных.</li>
            <li>Руководитель бизнес-направления животноводства, с/х кооперации в АгроветАтлантик групп.</li>
            <li>Член Agro.Reforms.UA., сотрудничал с МинАПК по реформированию законодательства и системы госконтроля в области сельского хозяйства.</li>
            <li>Отец 2 детей, увлекается футболом, теннисом, шахматами и сальсой.</li>
        </ul>',
        modal: 'modal_16'
    },
    {
        pic: 'img/mentors/pic_2.png',
        name: 'Александр<br>Павловский',
        text: '<ul>
            <li>Собственник группы компаний "Консорциум Сатурн".</li>
            <li>Компания более 18 лет успешно работает на рынке услуг безопасности и объединяет 6 компаний, среди которых «Сатурн-К», «Комплексные системы безопасности и развития», «Эксперт Секьюрити», предлагающие на территории Украины полный комплекс услуг в сфере безопасности и автоматизации</li>
            <li>Отец двух дочерей, активный участник беговых марафонов, любитель горных лыж, практикует йогу, увлекается живописью, пишет стихи, изучает секреты здорового долголетия.</li>
        </ul>',
        modal: 'modal_17'
    }
] %}


<!-- begin mentors -->
<section class="section mentors">
    <div class="l">
        <div class="mentors__in">
            <h2 class="title">Менторы и наставники</h2>

            <div class="mentors__list">
                {% for m in mentors %}
                <!-- begin mentor -->
                <div class="mentor">
                    <img src="{{ m.pic }}" alt="" class="mentor__pic">
                    <div class="mentor__in">
                        <h3 class="mentor__name">{{ m.name | safe }}</h3>
                        <button class="button button_special" data-modal="{{ modal }}">Показать еще</button>
                    </div>
                </div>
                <!-- end mentor -->
                {% endfor %}
            </div>

            <a href="#" class="button button_primary">{{ mixins.icon('refresh') }}Показать еще</a>
        </div>
    </div>
</section>
<!-- end mentors -->
