<!-- begin mission -->
<section class="mission" style="background-image: url();">
    <div class="l">
        <div class="mission__in">
            <div class="mission__info">
                <h2 class="mission__title">Миссия Board</h2>
                <div class="mission__text">
                    <p>Расти быстрее за счёт обмена опытом, навыками, компетенциями и связями</p>
                </div>
            </div>
            <div class="mission__media">
                <img src="img/mission-preview.jpg" alt="">
                <button class="btn-play">{{ mixins.icon('play') }}</button>
            </div>
        </div>
    </div>
</section>
<!-- end mission -->
