<!-- begin mission -->
<section class="section mission" style="background-image: url('img/mission-bg.jpg');">
    <div class="l">
        <div class="mission__in">
            <div class="mission__info">
                <h2 class="title">Миссия Board</h2>
                <div class="mission__text">
                    <p>Расти быстрее за счёт обмена опытом, навыками, компетенциями и связями</p>
                </div>
            </div>
            <div class="mission__media">
                <img src="img/mission-preview.jpg" alt="">
                <button class="btn-play" data-modal="mission">{{ mixins.icon('play') }}</button>
            </div>
        </div>
    </div>

    {% include "partials/_mission-modal.html" %}
</section>
<!-- end mission -->
