<!-- begin reasons -->
<section class="reasons">
    <div class="l">
        <div class="reasons__in">
            <h2 class="title title_reversed">Почему Board</h2>
            <div class="reasons__list">
                <ul>
                    <li>Не бизнес клуб: войти в сообщество просто</li>
                    <li>Не бизнес-школа: нет теории</li>
                    <li>Все ориентировано на рост компетенций, опыта и связей</li>
                    <li>Все построено на практике и решении конкретных задач участников</li>
                </ul>
            </div>
            <a href="#" class="button">Подать заявку</a>
        </div>
    </div>
</section>
<!-- end reasons -->
