<!-- begin values -->
<section class="section values">
    <div class="l">
        <div class="values__in">
            <h2 class="title">Ценности</h2>
            <div class="values__boxes">
                <!-- begin value -->
                <div class="value">
                    <img src="img/values/value-1.png" alt="" class="value__img">
                    <h3 class="value__text">Честность</h3>
                </div>
                <!-- end value -->

                <!-- begin value -->
                <div class="value">
                    <img src="img/values/value-2.png" alt="" class="value__img">
                    <h3 class="value__text">Открытость</h3>
                </div>
                <!-- end value -->

                <!-- begin value -->
                <div class="value">
                    <img src="img/values/value-3.png" alt="" class="value__img">
                    <h3 class="value__text">Доверие</h3>
                </div>
                <!-- end value -->

                <!-- begin value -->
                <div class="value">
                    <img src="img/values/value-4.png" alt="" class="value__img">
                    <h3 class="value__text">Стремление к развитию</h3>
                </div>
                <!-- end value -->
            </div>
        </div>
    </div>
</section>
<!-- end values -->
