<!-- begin widgets -->
<section class="widgets" id="statistics">
    <!-- begin widget -->
    <div class="widget" style="background-image: url('img/widgets/f_1.jpg');">
        <div class="widget__in">
            <div class="widget__numb">150</div>
            <div class="widget__desc">менторов</div>
        </div>
    </div>
    <!-- end widget -->

    <!-- begin widget -->
    <div class="widget" style="background-image: url('img/widgets/f_2.jpg');">
        <div class="widget__in">
            <div class="widget__numb">420+</div>
            <div class="widget__desc">мероприятий в год</div>
        </div>
    </div>
    <!-- end widget -->

    <!-- begin widget -->
    <div class="widget" style="background-image: url('img/widgets/f_3.jpg');">
        <div class="widget__in">
            <div class="widget__numb">1000+</div>
            <div class="widget__desc">участников сообщества</div>
        </div>
    </div>
    <!-- end widget -->

    <!-- begin widget -->
    <div class="widget" style="background-image: url('img/widgets/f_4.jpg');">
        <div class="widget__in">
            <div class="widget__numb">16</div>
            <div class="widget__desc">регионов Украины</div>
        </div>
    </div>
    <!-- end widget -->
</section>
<!-- end widgets -->
