.icon-back {
  width: 1em;
  height: 1em;
  fill: #231F20;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: #ea632f;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-messenger {
  width: 1em;
  height: 1em;
  fill: #3692fb;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-refresh {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: #5ebee1;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: #7d3daf;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: #189d0e;
}
